<div class="loginregister-background">
  <% provide(:title, "Log in") %>

  <div class="loginregister-container">

    <% if flash[:danger] %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <%= flash[:danger] %>.
        </div>
    </div>
    <% end %>
    <h1 class="loginregister-header-text">Log in</h1>
    <div class="container"> 
          <%= form_for(:session, url: login_path) do |f| %>
            <br>
            <div class ="row">
              <%= f.email_field :email, placeholder: 'Enter your email', class: 'form-control', required: true %><br>
            </div><br><br>
            <div class ="row">
              <%= f.password_field :password, placeholder: 'Enter your password', class: 'form-control', required: true %><br>
            </div><br><br><br>
            <%= f.submit "Log in", class: "loginregister-button" %><br>
          <% end %><br>
          <p> New user? <%= link_to "Signup", new_user_url %> </p>
        </div>
      </div>
</div>