<div class="new-recipe-container">
  <div class="new-recipe-left">

    <% if flash[:danger] %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          <%= flash[:danger] %>
        </div>
      </div>
    <% end %>

    <div class="new-recipe-forms">
      <h1>Create your recipe!</h1>

      <%= form_for @recipe, url: {action: "create"}, html: {class: "new-recipe-form"} do |f| %>
        <%= f.text_field :name %>
        <%= f.text_area :description %>
        <%= f.time_field :cooking_time %>
        <%= f.number_field :serving, min: 1, step: 1 %>
        <%= f.file_field :image %>
        <%= f.submit "Create" %>
      <% end %>

      <p> Copying in a recipe? You can upload a picture here and we'll convert it into text so you can copy and paste those detailed descriptions rather than writing them out by hand!</p>
      <%= form_tag("/ocr", method: "post", multipart: true) do %>
        <%= file_field_tag(:image) %>
        <%= submit_tag("Submit") %>
      <% end %>
    </div>

  <div class="new-recipe-right">
    <% unless flash[:ocr_text].nil? %>
    <% flash.keep(:ocr_text) %>
    <div class="ocr_output">
      <%= simple_format(flash[:ocr_text]) %>
    </div>
   <% end %>
  </div>
</div>
