<!DOCTYPE html>
<html>
  <head>
    <title>ReciPeeps</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Navigation bar %>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to "Logo-goes-here", root_path, id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", root_path, id: 'home_nav' %></li>
              <% if logged_in? %>
                <li><%= link_to "Log out", logout_path, id: 'log_out_nav', method: :delete %></li>
                <li><%= link_to "Profile", '/users/find', id: 'profile_nav' %></li>
                <li><%= link_to "New recipe", '/recipes/new', id: 'new_recipe_nav', method: :get %></li>
              <% else %>
                <li><%= link_to "Log in", '/login', id: 'log_in_nav' %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>

      <%# End of navigation bar %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= yield %>
  </body>
</html>
